<div>
    <header class="mb-auto cover-container d-flex p-3 mx-auto flex-column">
        <div>
            <h3 class="float-md-start float-mb-0 justify-content-center"><a
                    class="nav-link" href="/"><img src="/images/jiten.png"
                        alt=""
                        width="50" height="auto" class="d-inline-block
                        align-text-middle"> Jiten</a></h3>
            <nav class="nav nav-masthead justify-content-center float-md-end">
                <a class="nav-link" aria-current="page" href="/about">About</a>
                <a class="nav-link" href="/contact">Contact</a>
                <div class="nav-link">
                    <div class="form-check form-switch">
                        <label class="form-check-label" for="lightSwitch">
                            <span class="material-icons">dark_mode</span>
                        </label>
                        <input class="form-check-input" type="checkbox" id="lightSwitch"/>
                    </div>
                </div>
            </nav>
        </div>
    </header>
</div>